body {
    padding-top: 70px;
    padding-bottom: 40px;
    background-color: transparent;
}

.page-bg {
    background-image: url('../images/mainpage_background.jpg');
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: scale(1.1);
}

.btn-logout {
    margin-left: 5px;
    margin-right: 5px;
}

.list-tweet {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.tweet-newmessage {
    padding: auto;
    max-width: 330px;
    margin: auto;
}

.panel-footer:after, panel-footer:before {
    display: block;
    content: "";
    clear: both;
}

.clear {
    clear: both;
}

.split-para {
    display: block;
    margin: 10px;
}

.split-para span {
    display: inline;
    float: right;
    margin-left: 10px;
}

textarea[name="new_message_text"] {
    height: 120px;
    resize: none;
}